<code style="word-wrap: break-word; padding: 2px 4px; border-radius: 4px; margin: 0 2px; font-family: Operator Mono, Consolas, Monaco, Menlo, monospace; word-break: break-all; color: #e46918; background-color: #efefef; font-size: .875em; line-height: 1.6 !important;">